.header {
  position: sticky;
  inset-block-start: 0;
  padding-inline: 1.5rem;
  background-color: var(--just-white);
  z-index: 10;
}
.header_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
}
.icon_burger {
  position: relative;
  inline-size: 1.7rem;
  block-size: 1rem;
  cursor: pointer;
}
.line {
  position: absolute;
  inset-block-start: 50%;
  inline-size: 100%;
  block-size: 2.5px;
  display: block;
  background-color: var(--ligth-blue);
  transition: all 0.3s ease-in-out;
}
.line::before,
.line::after {
  position: absolute;
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 2.5px;
  background-color: var(--ligth-blue);
  transition: all 0.3s ease-in-out;
}
.line::before {
  inset-block-start: -0.5rem;
}
.line::after {
  inset-block-start: 0.5rem;
}
.icon_burger.is_active .line {
  background-color: transparent;
}
.icon_burger.is_active .line::before {
  top: 0;
  transform: rotate(45deg);
}
.icon_burger.is_active .line::after {
  top: 0;
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .header_iconMenu {
    display: none;
  }
}
