.navigation {
  position: fixed;
  background-color: var(--bg-overlay);
  background-color: background;
  inset-inline: 0;
  inset-block-start: 3.75rem;
  inset-block-end: 0;
  visibility: hidden;
  z-index: 99;
  transition: visibility 0.2s ease-out;
  /* pointer-events: none; */
}
.navigation.navigation.is_active {
  visibility: visible;
}
.navigation.is_active .navigation__list {
  transform: translateX(0);
}
.navigation__list li {
  padding: 1rem;
  color: var(--secondary);
}
.navigation__list {
  margin: 0;
  padding-inline: 1.5rem;
  background-color: var(--just-white);
  list-style-type: none;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}
.navigation__list a {
  text-transform: uppercase;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .navigation {
    position: static;
    visibility: visible;
    background-color: unset;
  }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
  }
}
