.footer {
  background-color: var(--blue);
  color: var(--secondary);
  padding-block: 3rem;
  padding-inline: 1.5rem;
}
.footer__content span {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.footer__list li a {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__list {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__list {
    display: flex;
    gap: 1rem;
  }
}
