---
import Wrapper from '../components/wrapper.astro';
import { getI18N } from '../i18n';
import Menu from './menu.astro';
import MenuIcon from './menu-icon.astro';
import Logo from './logo.astro';
import Link from './link.astro';
import LanguagePicker from './language-picker.astro';
import { SOCIAL_MEDIA } from '../const';

const { currentLocale = 'en' } = Astro;

const i18n = getI18N({
  currentLocale,
});
---

<header>
  <Wrapper>
    <div class='header-content'>
      <Logo />
      <Menu />

      <div class='right-side'>
        <LanguagePicker />
        <Link
          aria-label={i18n.LABEL_HIRE_ME}
          className='hire-btn'
          radius='large'
          variant='third'
          url={`mailto:${SOCIAL_MEDIA.MAIL}`}
        >
          {i18n.LABEL_HIRE_ME}
        </Link>
        <MenuIcon />
      </div>
    </div>
  </Wrapper>
</header>

<style>
  header {
    position: sticky;
    background-color: var(--body-color);
    top: 0;
    z-index: 100;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .right-side {
    display: flex;
    gap: 12px;
  }
</style>
