<a
  href='/'
  title='home'
  aria-label='Home'
>
  <img
    src='/logos/logo.svg'
    alt="logo alexei's porfolio"
  />
  <span class='sr-only'>Home</span>
</a>

<style>
  img {
    width: 100px;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>
