---
import { HOME_URL } from '../const';

const { currentLocale = 'en' } = Astro;
const HOME = HOME_URL[currentLocale];
---

<a
  href={HOME}
  title='home'
  aria-label='Home'
>
  <img
    src='/logos/logo.svg'
    alt="logo alexei's porfolio"
  />
  <span class='sr-only'>Home</span>
</a>

<style>
  img {
    width: 100px;
  }
</style>
