---
import Link from './link.astro';
import Wrapper from './wrapper.astro';
---

<section>
  <Wrapper>
    <div class='projects-content'>
      <h3>Featured Projects</h3>
      <div class='bento-grid'>
        <article>
          <div class='cover'></div>
          <div class='card-links'>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/github-icon.svg'
                alt='external link icon'
              />
            </Link>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/link.svg'
                alt='external link icon'
              />
            </Link>
          </div>
          <div class='card-content'>
            <h2>Project 1</h2>
            <p>
              This is a solution to the Devjobs web app challenge on Frontend Mentor. Frontend
              Mentor challenges help you improve your coding skills by building realistic projects.
            </p>
          </div>
        </article>
        <article>
          <div class='card-links'>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/github-icon.svg'
                alt='external link icon'
              />
            </Link>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/link.svg'
                alt='external link icon'
              />
            </Link>
          </div>
          <div class='card-content'>
            <h2>Project 1</h2>
            <p>
              This is a solution to the Devjobs web app challenge on Frontend Mentor. Frontend
              Mentor challenges help you improve your coding skills by building realistic projects.
            </p>
          </div>
        </article>
        <article>
          <div class='card-links'>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/github-icon.svg'
                alt='external link icon'
              />
            </Link>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/link.svg'
                alt='external link icon'
              />
            </Link>
          </div>
          <div class='card-content'>
            <h2>Project 1</h2>
            <p>
              This is a solution to the Devjobs web app challenge on Frontend Mentor. Frontend
              Mentor challenges help you improve your coding skills by building realistic projects.
            </p>
          </div>
        </article>
        <article>
          <div class='card-links'>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/github-icon.svg'
                alt='external link icon'
              />
            </Link>
            <Link
              className='p-inline-0'
              url='https://google.com'
              target='_blank'
            >
              <img
                width='32'
                height='32'
                src='/logos/link.svg'
                alt='external link icon'
              />
            </Link>
          </div>
          <div class='card-content'>
            <h2>Project 1</h2>
            <p>
              This is a solution to the Devjobs web app challenge on Frontend Mentor. Frontend
              Mentor challenges help you improve your coding skills by building realistic projects.
            </p>
          </div>
        </article>
      </div>
    </div>
  </Wrapper>
</section>

<style>
  section {
    background-image: url('/images/wave-pattern.svg');
  }

  .projects-content {
    padding: 64px 0;
  }

  .card-links {
    display: flex;
    justify-content: flex-end;
  }

  .card-content {
    align-self: end;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .bento-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-auto-rows: 30rem;
    gap: 1.5rem;
  }

  .bento-grid article:nth-child(1),
  .bento-grid article:nth-child(4) {
    grid-column: span 4 / span 4;
  }

  .bento-grid article:nth-child(2),
  .bento-grid article:nth-child(3) {
    grid-column: span 6 / span 6;
  }

  .bento-grid article:nth-child(1) .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    outline: 1px solid red;
    background-image: url('/projects/devjobs-cover.png');
  }

  .bento-grid article:nth-child(2) {
    background-image: url('/projects/clock-cover.png');
  }

  .bento-grid article:nth-child(3) {
    background-image: url('/projects/devfinder-cover.png');
  }

  .bento-grid article:nth-child(4) {
    background-image: url('/projects/pomodoro-cover.png');
  }

  article h2 {
    font-size: 32px;
    color: var(--just-white);
  }

  article p {
    line-height: 1.5rem;
  }

  article .cover {
    background-size: cover;
    transition: transform 0.3s ease-in-out;
  }

  article {
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 2;
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .cover {
      transition: transform 0.3s ease-in-out;
    }

    &:hover .cover {
      transform: scale(1.1);
    }

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0) 30%,
        rgba(23, 23, 24, 0.5),
        rgba(23, 23, 24, 0.9)
      );
    }
  }

  h3 {
    line-height: 84px;
    font-size: 36px;
    margin-block: 52px;
    color: var(--just-white);
  }
</style>
