---
import { PROJECTS } from '../data/projects';
import { getI18N } from '../i18n';
import Wrapper from './wrapper.astro';
import ProjectCard from './bento-project-card.astro';
const { currentLocale = 'en' } = Astro;

const featuredProjects = PROJECTS.filter((project) => project.average >= 10).slice(0, 4);

const i18n = getI18N({
  currentLocale,
});
---

<section>
  <Wrapper>
    <div class='projects-content'>
      <h3>{i18n.LABEL_FEATURED_PROJECTS}</h3>
      <div class='bento-grid'>
        {featuredProjects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </Wrapper>
</section>

<style>
  section {
    background-image: url('/images/wave-pattern.svg');
  }

  .projects-content {
    padding: 64px 0;
  }

  .bento-grid {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-auto-rows: 30rem;
    gap: 1.5rem;
  }

  h3 {
    line-height: 84px;
    font-size: 36px;
    margin-block: 52px;
    color: var(--just-white);
  }
</style>
