.contact {
  background-color: var(--blue);
  color: var(--just-white);
  padding-inline: 1.5rem;
  padding-block: 4rem;
}
.contact__heading {
  margin: 0;
  margin-block-end: 2rem;
  font: var(--headline3);
}
.contact__mail {
  color: var(--tertiary);
  font: var(--headline4);
}
@media screen and (min-width: 1024px) {
  .contact {
    padding-block: 5rem;
    padding-inline: 12.5rem;
  }
  .contact__heading {
    font: var(--headline2);
  }
  .contact__mail {
    font: var(--headline3);
  }
}

@media screen and (min-width: 1366px) {
  .contact {
    padding-block: 10rem;
    padding-inline: 21.5625rem;
  }
}
